* {
    margin: 0;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 90em;
    height: 40rem;
    left: 10em;
}

.carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 80%;
}

.carouselImages {
    height: 70%;
    width: 50%;
}

.navigationDots {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
}

.arrows {
    height: 10%;
}

.arrow {
    height: 100%;
}

.navigationDot {
    outline: 1px solid black;
    border: 2px solid white;
    height: 25px;
    width: 25px;
    margin: 3em;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
}