* {
    margin: 0;
}

.container {
    position: relative;
    width: 90em;
    height: 40rem;
    left: 10em;
}

.carousel {
    outline: 2px solid blue;
    display: flex;
    width: 60%;
    height: 100%;
}

.carouselImage {
    height: 70%;
    width: 50%;
}